<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<title>order</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container list">
		<h2 th:text="${name}+'님의 주문 목록'"></h2>	
			<table class="table table-hover">
				<thead class="thead-light">
				<tr>
					<th scope="col">상품명</th>
					<th scope="col">가격</th>
					<th scope="col">수량</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="detail, index : ${orderDetails}">
					<th scope="row" th:text="${products.get(index.index).getName()}"></th>
					<th scope="row" th:text="${products.get(index.index).getPrice()}"></th>
					<td th:text="${detail.qty}"></td>
					<th th:if="${ItemCode.ADDED}==${detail.itemCode}">주문더하기</th>
				</tr>
			</tbody>
		</table>
		<p>총합: <span th:text="${total}" /></p>
		<!-- <a th:href="@{/order/list}"> -->
		<a th:href="@{'/product/'+${name}}">주문 하기</a>
		<a th:href="@{'/order/list/'+${name}}">전체 주문 목록</a>
	</div>
</body>
</html>