.container {
	width: 500px;
	margin: 30px auto;
	text-align: center;
}

half {
	width: 300px;
}

ul {
	list-style-type: none;
}

ul li {
	float: left;	
}

ul.navbar {
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	width: 195px;
	position: absolute;
	right: 20%;
	margin: 0;
	padding: 0;
	overflow: hidden;	
}

ul.navbar li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #666;
}

/* Change the link color to #111 (black) on hover */
ul.navbar li a:hover {
	background-color: #999;
}

ul.statuses {
	width: 100%;
	height: 50px;
}

ul.statuses li {
	width: 30%;
	border: 1px solid black;
	padding: 10px;
}

li.now {
	background-color: #ffd040;
}
