.container {
	width: 500px;
	margin: 30px auto;
	text-align: center;
}

half {
	width: 300px;
}

ul {
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	width: 195px;
	position: absolute;
	right: 20%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #666;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #999;
}